* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background: #080c10;
	color: white;
	font-family: 'Raleway', sans-serif;
}

header {
	background: #131c24;
	padding: 2em;
	overflow: hidden;
	letter-spacing: 0.075em;
}

header h1 {
	font-size: 4em;
}

#search input {
	background: none;
	border: none;
	border-bottom: 1px solid white;
	width: 50%;
	min-width: 290px;
	font-size: 1.1rem;
	color: white;
	padding: 5px;
	transition: 200ms width;
	text-overflow: ellipsis;
	margin-top: 1em;
}

#search input:focus {
	outline: 0;
	width: 90%;
}

#playlist-table {
	table-layout: fixed;
	width: 90%;
	margin: auto;
}

#playlist-table tr {
	border-bottom: 1px solid #555;	
}

#playlist-table tbody tr:hover {
	background: #131c24;
	cursor: default;
}

#playlist-table tr:last-child {
	border: none;
}

#playlist-table th {
	text-align: left;
	color: #999;
}

#playlist-table td {
	max-width: 25%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#playlist-table td, #playlist-table th {
	padding: 1em 0.1em 1em 0.3em;
}

#playlist-table span {
	padding-right: 1em;
}

table, th, td {
	border-collapse: collapse;
}

#information, #information > div {
	overflow: hidden;
}

#information img {
	width: 100%;
	min-width: 140px;
}

#information > div:first-child {
	width: 25%;
}

#data {
	width: 75%;
}

#information #data, #information > div {
	float: left;
}

#data {
	padding: 2em;
}

#data li {
	padding-top: 1em;
	display: inline-block;
	padding-right: 1em;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	color: white;
}

ul {
	padding: 0;
}


@media screen and (min-width: 768px) {
	header section {
		float: left;
		width: 50%;
	}

	#search {
		padding: 2em;
		text-align: right;
	}

	#search input {
		margin-top: 0;
	}

	#playlist-table {
		table-layout: fixed;
		margin: 2em;
		width: 95%;
	}

	#playlist, #information {
		float: right;
		/*width: 50%;*/
	}

	#playlist {
		width: 60%;
		overflow: scroll;
	}

	#information {
		margin-top: 2em;
		width: 40%;
	}

	#information img, #information #data {
		width: 85%;
		float: none;
		margin: auto;
	}

	#information #data, #information img {
		display: block;
	}

	#information > div:first-child {
		width: 100%;
	}

	#information > div {
		overflow: hidden;
		width: 100%;
	}

	#data {
		padding-left: 0;
	}
}
