* {
	box-sizing: border-box;
	margin: 0;
}

body {
	/*background: #080c10;*/
	background: #131c24;
	color: white;
	font-family: 'Raleway', sans-serif;
	transition: 100ms background;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	color: white;
}

header {
	background: #131c24;
	padding: 2em;
	overflow: hidden;
	letter-spacing: 0.075em;
}

header h1 {
	font-size: 4em;
}

header h2 {
	display: none;
}

/* Starting condition for content */
#content {
	display: none;
}

#search input {
	background: none;
	border: none;
	border-bottom: 1px solid white;
	width: 90%;
	min-width: 290px;
	font-size: 1.1rem;
	color: white;
	padding: 5px;
	transition: 200ms width;
	text-overflow: ellipsis;
	margin-top: 1em;
}

#search input:focus {
	outline: 0;
}

#playlist-table {
	table-layout: fixed;
	width: 100%;
	margin: auto;
}

#playlist-table tr {
	border-bottom: 1px solid #555;	
}

#playlist-table thead {
	display: none;
}

#playlist-table tbody tr:hover {
	background: #131c24;
	cursor: default;
}

#playlist-table tr:last-child {
	border: none;
}

#playlist-table th {
	text-align: left;
	color: #999;
	border-bottom: 1px solid white;
}

#playlist-table td {
	max-width: 25%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#playlist-table td, #playlist-table th {
	padding: 0.75em 0.1em 0.75em 0.3em;
}

#playlist-table .fa {
	padding-right: 0.5em;
	cursor: pointer;
	font-size: 2.3em;
	/*font-size: 1.8em;*/
	vertical-align: middle;
}

#playlist-table a {
	text-decoration: none;
	color: white;
}

#playlist-table a:hover {
	text-decoration: underline;
}

/* Hide artist and album on mobile */
.col-albums, .col-artists {
	display: none;
}

/* Artist link on mobile */
.mobile-artist {
	font-size: 0.7em;
	color: #cdcdcd;
}

td > span {
	float: left;
}

table, th, td {
	border-collapse: collapse;
}

#information, #information > div {
	overflow: hidden;
}

#information img {
	width: 100%;
	/*min-width: 140px;*/
}

#information > div:first-child {
	width: 25%;
}

#data {
	width: 75%;
}

#information #data, #information > div {
	float: left;
}

#data h3 a {
	color: white;
}

#data h3 a:hover {
	text-decoration: underline;
}

#data {
	padding: 2em;
}

#data li {
	padding-top: 1em;
	display: inline-block;
	padding-right: 1em;
}

ul {
	padding: 0;
}

.loader-container {
	display: none;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 150px;
	height: 150px;
	margin: -75px 0 0 -75px;
    /* border: 16px solid #f3f3f3; /* Light grey */
    /* border-top: 16px solid #3498db; /* Blue */
	border: 16px solid white; /* Light grey */
    border-top: 16px solid rgba(0, 0, 0, 0); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media screen and (min-width: 768px) {
	header section {
		float: left;
		width: 50%;
	}

	#search {
		padding: 2em;
		text-align: right;
	}

	#search input {
		margin-top: 0;
		width: 50%;
	}

	#search input:focus {
		width: 90%;
	}

	#playlist-table {	
		margin: 2em;
		width: 95%;
	}

	#playlist-table thead {
		display: table-header-group;
	}

	#playlist-table .fa {
		font-size: 1.8em;		
	}

	#playlist, #information {
		float: right;
		/*width: 50%;*/
	}

	td > span {
		float: none;
	}

	#playlist {
		width: 60%;
		overflow: scroll;
	}

	.col-albums, .col-artists {
		display: table-cell;
	}

	.mobile-artist {
		display: none;
	}

	#information {
		margin-top: 2em;
		width: 40%;
	}

	#information img, #information #data {
		width: 85%;
		float: none;
		margin: auto;
	}

	#information #data, #information img {
		display: block;
	}

	#information > div:first-child {
		width: 100%;
	}

	#information > div {
		overflow: hidden;
		width: 100%;
	}

	#data {
		padding-left: 0;
	}
}

@media screen and (max-width: 380px) {
	#search form i {
		display: none;
	}
}
